*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{

    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 30px rgba(29, 29, 29, 0.593);
    width: 1865px;
    height: 80px;

}

header h1{

    color: white;
    position: relative;
    right: 50px;

}

.menu{

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.menu ul{

    display: flex;

}

.menu a{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:white;
    text-decoration: none;

}

.menu a:hover{

    color: rgb(255, 108, 40);

}

.menu li{

    list-style: none;
    margin-left: 50px;
    margin: none;

}


.dropdown-items{

    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgb(67, 67, 67);
    left: 897px;
    top: 56px;
    width: 140px;
    height: 189px;

}

.menu-dropdown:hover .dropdown-items{

    display: flex;

}

.dropdown-items a{

    margin-top: 10px;
    text-align: center;
    padding: 10px;

}

.dropdown-items a:hover{

    transition: 0.3s ease;
    background-color: rgb(0, 0, 0);

}